<div class="row">
  
    <div class="col-lg-3 col-md-6 p-2 h-100 cursor-pointer" *ngFor="let movie of movies" [routerLink]="['/details',movie.id,'movie']">
        <div class="position-relative">
        <div class="ratio ratio-4x3">
            <img [src]="image_path+movie.poster_path" alt="" >
         
        </div>
        <h2 class="small mt-3">{{movie.title}}</h2>
        
</div>
    </div>
  

</div>


<nav aria-label="Page navigation example" class="">
    <ul class="d-flex  justify-content-end mt-5 pagination ">
      <li class="page-item"><button [disabled]="page==1" class="page-link" (click)="getMovie(page-1)" [routerLink]="['/movie',page-1]" routerLinkActive="active">Previous</button></li>
      <li class="page-item"><button class="page-link"  *ngFor="let page of pages"(click)="getMovie(page)" [routerLink]="['/movie',page]"routerLinkActive="active">{{page}}</button></li>
    
      <li class="page-item"><button [disabled]="page==10" class="page-link" (click)="getMovie(page+1)" [routerLink]="['/movie',page+1]"routerLinkActive="active">Next</button></li>
    </ul>
  </nav>

