
<div class="w-75 mx-auto py-4 text-capitalize">
  <h3>Register Now </h3>
<form action="" [formGroup]="registerForm" (ngSubmit)="registration(registerForm)">
  <label for="">name:</label>
  <input type="text" class="form-control"formControlName="name">
  <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
    <p class="alert alert-danger" *ngIf="registerForm.get('name')?.getError('required')">required</p>
    <p class="alert alert-danger" *ngIf="registerForm.get('name')?.getError('minlength')">must be at least  3letters </p>
  </div>
  <label for="">email:</label>
  <input type="email" class="form-control"formControlName="email">
  <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
    <p class="alert alert-danger" *ngIf="registerForm.get('email')?.getError('required')">required</p>
    <p class="alert alert-danger" *ngIf="registerForm.get('email')?.getError('email')">must be aemail syntax </p>
  </div>
  <label for="">password:</label>
  <input type="password" class="form-control" formControlName="password">
  <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
    <p class="alert alert-danger" *ngIf="registerForm.get('password')?.getError('required')">required</p>
    <p class="alert alert-danger" *ngIf="registerForm.get('password')?.getError('pattern')">must be at least  5letters and begin with capital letter </p>
  </div>
  <label for="">repassword:</label>
  <input type="password" class="form-control" formControlName="rePassword">
  <div *ngIf="registerForm.get('rePassword')?.touched && registerForm.get('rePassword')?.invalid">
    <p class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.getError('required')">required</p>
    <p class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.getError('pattern')">must be at least  5letters and begin with capital letter </p>
  </div>
  <label for="">phone:</label>
  <input type="text" class="form-control"formControlName="phone">
  <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid">
    <p class="alert alert-danger " *ngIf="registerForm.get('phone')?.getError('required')">required</p>
    <p class="alert alert-danger " *ngIf="registerForm.get('phone')?.getError('pattern')">must be at 11 digit </p>
  </div>
 <button type="submit" class="btn btn-primary d-block ms-auto mt-2 text-capitalize"  >
  <i class="fas fa-spinner fa-spin" *ngIf="loading"></i>
  <span *ngIf="!loading">
  
  register</span></button>
</form>

  
</div>
